<div class="container">
  <div class="row">
    <div class="register-form">
      <div class="form-header mt-5"><b>ログイン</b></div>

      <%= form_with model: @user, url: user_session_path, local: true do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text mb-2">Eメール</label>
          <span class="badge bg-warning">必須</span>
        </div>
        <%= f.email_field :email, class:"mb-3 input-default"%>
      </div>

      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text mb-2">パスワード（6文字以上）</label>
          <span class="badge bg-warning">必須</span>
        </div>
        <%= f.password_field :password, class:"mb-3 input-default"%>
      </div>

      <div class="register-btn mb-3">
        <%= f.submit "ユーザー登録", class:"btn btn-primary" %>
      </div>
      <% end %>

      <div class="mb-4", style="text-align:center;"><%= link_to "新規登録はこちら", new_user_registration_path, class:"user-transition" %></div>
    </div>
  </div>
</div>